body {
	box-sizing: inherit;
	border-style: ridge;
}

header {
	text-align: center;
	font-family: monospace;
}

#introduction {
	vertical-align: middle;
	display: inline-block;
   	margin-left: 100px;
   	font-family: sans-serif;
   	margin-bottom: 50px;
}

h3 {
	font-family: sans-serif;
}
#pre-footer {
	display: flex;
	box-sizing: inherit;
	margin: 0;
	position: relative;
	text-rendering: optimizeLegibility;
	background-color: #002540; color: white;
	display: block;
	font-family: sans-serif;
	font-size: 15px;
	font-weight: 400;
}
 h2 {
 	font-family: serif;
 }

div {
	display: inline-block;
	text-align: initial;
	font-family: sans-serif;
	font-weight: 400;
	padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 100px;
    padding-top: 30px;
}

div [container1] {
	margin: auto;
	display: block;
}

div [container2] {
	margin: auto;
	display: block;
}

nav {
	text-indent: 15px;
	margin: 15px;
	letter-spacing: 1px;
}

a {
	padding-right: 20px;
	padding-left: 20px;
}